/* Tyson Howell
8920479 */

body {
    font: 18px "Arial";
    background-color: hsla(0, 100%, 40%,1);
    width: 100vw;
    height: 100vh;

}

h2 {
    color: #fff;
    font-size: 2rem;
}

main {
    float : left;
    width : 60vw;
    background-color: hsla(0, 100%, 65%,1);
    height: 40vh;
}

aside {
    float: right;
    width : 30vw;
    background-color: hsla(0, 100%, 65%,1);
    height: 40vh;
}

footer {
    clear : both;
    background-color: hsl(0, 100%, 20%);
}

header {
    background-color: hsl(0, 100%, 20%);
}


.structural {
    margin : 20px;
    padding: 10px;
}

#para1{
    color : rgb(255,255,0);
}

#para2{
    color : rgb(0,255,255);
}

a:hover {
    color : #fff;
}

footer p{
    font-size : .75rem;
    color : #fff;
}